<%if(theme.author){%>
    <div class="widget author">
        <h3 class="title">作者</h3>
        <div class="author clearfix">
			<div class="avatar">
				<img src="/images/author.jpg" />
        	</div>
        	<div class="info">
				<H3><%- theme.author.name %></H3>
				<p><%- theme.author.position %></p>
        	</div>
        </div>
        <div>
            <p><%- theme.author.slogan %></p>
        </div>
    </div>
<%}%>