<%if(theme.notification){%>
    <div class="widget notification">
        <h3 class="title">作者</h3>
        <div class="author clearfix">
			<div class="avatar">
				<img src="/images/author.jpg" />
        	</div>
        	<div class="info">
				<H3><%- theme.notification.name %></H3>
				<p><%- theme.notification.position %></p>
        	</div>
        </div>
        <div>
            <p><%- theme.notification.talk %></p>
        </div>
    </div>
<%}%>