<%if(theme.notification){%>
    <div class="widget notification">
        <h3 class="title">作者</h3>
        <div class="author">
	<div class="avatar">
        	<img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1507725173997&di=41054502d7100c7381523bc299690340&imgtype=0&src=http%3A%2F%2Fimg.zcool.cn%2Fcommunity%2F014821554444cf0000019ae936d077.jpg" />
        	</div>
        	<div class="info">
    		<p>zhenchao.wang</p>
    		<p>小米 · 研发工程师</p>
        	</div>
        </div>
        <div>
            <%- theme.notification%>
        </div>
    </div>
<%}%>