<%if(theme.notification){%>
    <div class="widget notification">
        <h3 class="title">作者</h3>
        <div class="author clearfix">
			<div class="avatar">
				<img src="/images/author.jpg" />
        	</div>
        	<div class="info">
				<H3>王振超，「花名：予尊」</H3>
				<p>小米科技 · 服务端研发工程师</p>
        	</div>
        </div>
        <div>
            <%- theme.notification%>
        </div>
    </div>
<%}%>